/* base style */
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

body {
  background-color: #f8f8f8;
}

a {
  color: #222;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* animal*/
   /* クラス */

.hblock {
  box-shadow: 0 0 3px #aaa;
}

.hblock h1 {
  font-weight: normal;
  text-align: center;
  font-size: 1.2rem;
  padding: 5px;
}

.hblock p {
  padding: 10px;
}

.hblock img {
  width: 100%;
}

aside {
  padding: 10px;
}







header {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
}

ul {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

ul li {
  margin-left: 5px;
  margin-right: 5px;
}

main {
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px;
}

main div.hblock {
  width: calc(33.3% - 10px);
  margin: 5px;
}


@media (max-width: 700px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }

  main div.hblock {
    width: calc(50% - 10px);
    margin: 5px;
  }
}


@media (max-width: 500px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }

  main div.hblock {
    width: calc(100% - 10px);
    margin: 5px;
  }
}











@media screen and (max-width: 480px) {
.menu {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 10000;
}
.menu::before {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-family: blogicon;
    content: "Ξ";
    font-size: 30px;
    line-height: 1;
}
.menu-ul {
    position: absolute;
    top: 0;
    left: -80vw;
    margin: 0;
    list-style: none;
    width: 80vw;
    height: 100vh;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    outline: none;
    transition: left 0.4s 0.1s;
}
.menu-ul::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -1;
    background: rgb(0,0,0);
    opacity: 0;
    transition: opacity 0.4s 0.1s,
                width 0s 0.5s,
                height 0s 0.5s;
}
.menu:focus .menu-ul {
    left: 0;
    transition: left 0.5s;
}
.menu-ul:focus  {
    left: -80vw;
}
.menu:focus .menu-ul::after{
    width: 180vw;
    height: 100vh;
    opacity: 0.4;
    transition: opacity 0.5s;
}

.menu ul {
  display: block;
}
.menu li {
  float: none;
  font-size: 13pt;
}
.menu a {
  display: block;
}

}



/* 画面が大きければハンバーガーメニューをやめる */
@media (min-width: 576px) {
    .menu {
        position: static;
    }
    .menu-ul {
        position: static;
        display: flex;
        justify-content: space-around;
        width: auto;
        height: auto;
        padding: 0;
        transition: none;
    }
    .menu::before,
    .menu-ul::before {
        content: none;
    }
.menu ul {
}
.menu li {
    font-size: 13pt;
}
}







.gnav {
  width: 100%;
  /*height: 40px;*/
  height: 40px;
  margin: 0;
  padding: 0;
/*  background: #9fb7d4;*/
  background: #3f6784;
  display: block;
}
.gnav .ggnav {
/*  width: 300px;*/
  width: 100%;
/*  height: 40px;*/
  height: 40px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  display: block;
}
.gnav .ggnav li {
  width: 100%;
  height: 40px;
  position: relative;
/*  margin-left: 50px;*/
  list-style: none;
/*  box-sizing: border-box;*/
/*  border-left: 1px solid #eee;*/
  float: none;
}
.gnav .ggnav li a {
  display: block;
/*  width: 60px;*/
  width: 95%;
/*  height: 40px;*/
  height: 40px;
/*  text-align: center;*/
  text-align: left;
  color: #fff;
  font-size: 14px;
  line-height: 3.2;
/*  background: #3f6784;*/
  background: #3f6784;
  box-sizing: border-box;
  text-decoration: none;
  float: none;
}
/*.gnav .ggnav li:first-child {
margin-left: 50px;
  border-left: 1px solid #eee;
float: none;
}
.gnav .ggnav li:last-child {
margin-left: 50px;
  border-right: 1px solid #eee;
float: none;
}*/
.gnav .ggnav > li:hover > a {/*layer-1*/
/*  color: orange;*/
  color: #bbb;
/*  background: #afc6e2;*/
  background: #3f6784;
  float: none;
}
.gnav .ggnav > li li:hover > a {/*layer-2*/
/*  color: olive;*/
  color: #bbb;
/*  background: #afc6e2;*/
  background: #3f6784;
  float: none;
}
.gnav .ggnav li ul {
  top: 40px;
/*  left: -40px;*/
  position: absolute;
float: none;
display: block;
}
.gnav .ggnav li ul li {
  overflow: hidden;
  height: 0;
  float: none;
}
.gnav .ggnav li ul li a {
  border-top: 1px solid #eee;
  width: 100px;
  float: none;
}
.gnav .ggnav li:hover > ul > li {
  overflow: visible;
  height: 40px;
  float: none;
}
.gnav .ggnav li ul li ul {
  top: 0;
  left: 85%;
  float: none;
  }
  .gnav .ggnav li ul li ul:before {/*layer-2▷*/
    position: absolute;
    content: "";
    top: 15px;
    left: 30px;
    border: 5px solid transparent;
    border-left: 5px solid #fff;
float: none;
  }
  .gnav .ggnav li ul li ul li a {
/*margin-left: -10px;*/
  }
  .gnav .ggnav li ul li ul li:hover > a {/*layer-3*/
    color: pink;
  /*  background: #afc6e2;*/
    background: #3f6784;
    float: none;
  }
  .gnav .ggnav li ul li ul.left {
    top: 0;
    left: -100px;
float: none;
  }
  .gnav .ggnav li ul li ul.left:before,/*layer-2-left▷*/
  .gnav .ggnav li ul li ul li ul.left:before {/*layer-3-left▷*/
    position: absolute;
    content: "";
    top: 15px;
    left: 100px;
    border: 5px solid transparent;
    border-right: 5px solid #fff;
  }
  .gnav .ggnav li ul li ul.left li:hover > a {/*layer-2-left*/
    color: pink;
/*    background: #afc6e2;*/
  background: #3f6784;
  }
  .gnav .ggnav li ul li ul li ul.left li:hover > a {/*layer-3-left*/
    color: purple;
/*    background: #afc6e2;*/
  background: #3f6784;
  }
.gcontent {
  width: 100%;
  min-height: 200px;
  background: #eee;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  box-sizing: border-box;
}

/*@media (min-width: 769px) {
.gnav {
  overflow: visible;
}
.gnav .ggnav {
  width: 755px;
}
.gnav .ggnav li {
  box-sizing: border-box;
}
.gnav .ggnav li a {
  display: block;
  width: 150px;
  height: 40px;
  font-size: 14px;
  line-height: 2.8;
}

.gnav .ggnav li:first-child {
  border-left: 1px solid #eee;
}
.gnav .nav li:last-child {
  border-right: 1px solid #eee;
}

  .gnav .ggnav li ul li ul {
    top: 0;
    left: 110px;
  }
  .gnav .ggnav li ul li ul:before {
    left: 30px;
  }
  .gnav .ggnav li ul li ul.left {
    left: -190px;
  }
  .gnav .ggnav li ul li ul.left:before,
  .gnav .nav li ul li ul li ul.left:before {
    left: 190px;
  }
.gcontent {
  width: 755px;
}
}
*/
